@import "../assets/styles/Vars.scss";

.footer-container{
  display: flex;
  width: 100%;
  height: 120px;
  background: $alert-red;
}
.footer-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 10%;
}
.footer-left a{
  padding-bottom: 5px;
}
.footer-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  padding-right: 10%;
}
.footer-logo{
  width: 30%;
}